<header class="header">
	<div class="header_content">
		<div class="button_menu">
			<%= image_tag("menu.png", :alt => "bouton menu") %>
		</div>
		<h1 class="title_header">Confi Cool Store </h1>
		<% if admin_user_signed_in? %>
			<h1><abbr title="you see this menu because you're logged as admin">Gestionnaire :</abbr></h1>
			<ul>
				<li><%= link_to 'Gestion des ingredients', ingredient_path(@ingredient) %></li>
				<li>Gestion des produits</li>
				<li>Gestion des clients</li>
				<li>Gestion des Marklors</li>
			</ul>
		<% end %>
		<div class="layer_account">
			<h2 class="button_account">Mon compte</h2>
			<div class="invisible_layout">
				<% if customer_signed_in? %>
					 <% user = current_customer %>
					 <%= user.email %>
					 <%= button_to "Déconnexion", destroy_session_path(:customer), :method => :delete, :class => 'submit_button' %>
				<% else %>
				<div class="content_account">
					<%= form_for(Customer.new, :as => :customer, :url => session_path(:customer)) do |f| %>
						<h2 class="subtitle">Se connecter</h2>
						<%= label_tag(:mail, "EMAIL") %>
						<%= f.email_field :email, :autofocus => true %>

						<%= label_tag(:password, "MOT DE PASSE") %>
						<%= f.password_field :password %>

						<div><%= f.submit "Valider", :class => 'submit_button' %></div>
					<% end %>
					<h2 class="subtitle subscribe_button">Inscription</h2>
				</div>

 				<div class='content_subscribe'>
					<%= form_for(Customer.new, :as => :customer, :url => registration_path(:customer)) do |f| %>
						<h2 class="subtitle">S'inscrire</h2>
						<%= label_tag(:email, 'EMAIL') %>
						<%= f.email_field :email, :autofocus => true %></div>

						<%= label_tag(:pasword, "MOT DE PASSE") %>
						<%= f.password_field :password %></div>

						<%= label_tag(:password, "CONFIRMER MOT DE PASSE") %>
						<%= f.password_field :password_confirmation %></div>


						<div><%= f.submit "S'inscrire", :class => 'submit_button' %></div>
					<% end %>
					<h2 class="subtitle account_button">Connexion / Retour</h2>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</header>
<div class="main_content">

</div>
