<header class="header">
	<div class="header_content">
		<div class="button_menu">
			<%= image_tag("menu.png", :alt => "bouton menu") %>
		</div>
		<h1 class="title_header">Confi Cool Store </h1>
		<div class="layer_account">
			<h2 class="button_account">Mon compte</h2>

			<div class="invisible_layout">
				<div class="content_account">
					<%= form_tag("/connexion", method: "get") do %>
						<h2 class="subtitle">Se connecter</h2>
						<%= label_tag(:mail, "EMAIL") %>
						<%= text_field_tag(:mail) %>

						<%= label_tag(:password, "MOT DE PASSE") %>
						<%= password_field_tag(:password) %>

						<%= submit_tag("Valider") %>
					<% end %>
					<h2 class="subtitle subscribe_button">Inscription</h2>
				</div>

 				<div class='content_subscribe'>
					<%= form_tag("inscription", method: "get") do %>
						<h2 class="subtitle">S'inscrire</h2>
						<%= label_tag(:prenom, "PRÉNOM") %>
						<%= text_field_tag(:prenom) %>

						<%= label_tag(:nom, "NOM") %>
						<%= text_field_tag(:nom) %>

						<%= label_tag(:pasword, "MOT DE PASSE") %>
						<%= password_field_tag(:password) %>

						<%= label_tag(:password2, "CONFIRMER MOT DE PASSE") %>
						<%= password_field_tag(:password2) %>

						<%= label_tag(:email, 'EMAIL') %>
						<%= text_field_tag(:mail) %>

						<%= submit_tag("Valider") %>
					<% end %>
					<h2 class="subtitle account_button">Connexion / Retour</h2>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="main_content">

</div>
